<li>
      <img src="{{country.flags.svg}}" alt="Flag of {{
            country.name.official
          }}" width="30" hight="20">
         <b>{{country.name.official}}</b></p>
            <p><b>Capital</b>: {{country.capital}}</p>
            <p><b>Population</b>: {{country.population}}</p>
            <p><b>Languages</b>: {{country.languages}} </p>
</li>`
{{!-- <p><b>Languages</b>: {{Object.values(country.languages)}} </p> --}}